#header {
	height: 40px;
	color: white;
	background-color: #4B6C9E;
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
}

/* Codemirror */
.CodeMirror {
	height: 100%;
}

/* Header */
#logoContainer {
	height: 100%;
	width: 200px;
	display: inline-block;
	padding-top: 0;
}

#controlBtns {
	height: 100%;
	width: 500px;
	margin-left: 24px;
	display: inline-block;
	top: 0;
	position: absolute;
}

.controlBtn {
	height: 31px;
	display: inline-block;
	width: 80px;
	padding-top: 9px;
	margin-right: 3px;
	background-color: #355E95;
}

.controlBtn:hover {
	cursor: pointer;
}

.controlBtn i {
	margin-left: 7px;
}

.btnText {
	margin-left: 3px;
}

#loginContainer {
	float: right;
	width: 130px;
	margin: 0;
}

/* Logout text */
#userNameText {
	margin-left: 8px;
}

.icon-signout {
	float: right;
	margin: 3px 5px 0 0;
}

/* Links in header */
#header a {
	color: white;
	height: 31px;
	display: inline-block;
	width: 100%;
}

#header a:hover {
	text-decoration: none;
}

/* Content panel */
#content {
	margin-top: 40px;
}

.contentPane {
	height: 100%;
	overflow: auto;
}

#rightCP {
	width: 33.6%;
	background-color: #efefef;
}

/* Left panel */
#languagePanel {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#languageText {
	color: #333;
	font-weight: bold;
	font-size: 13px;
	height: 30px;
	display: inline-block;
	padding-top: 8px;
	padding-left: 2px;
}

#languageSelect {
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

#dragBoard {
	background-color: white;
	height: 250px;
	border: solid #dddddd;
	border-width: 0 0 0 1px;
}

#dragBoardText {
	margin-left: auto;
	margin-right: auto;
	width: 5.5em;
	padding-top: 100px;
	font-weight: bold;
	font-size: 2.2em;
	color: #dcdcdc;
}

#dragBoardText:hover {
	cursor: default;
}